<div class="container">
<div class="row">
  <div id="side-menu"  class="col-sm-3" style="color: #EFEFEF">
    <h2>Categories Available</h2>
    <% @categories.each do |c| %>
      <hr>
    <li><h4><%= c.name %></h4></li>
      <hr>
    <% end %>

  </div><!-- side-menu -->

  <div id="main-content" class="col-sm-9">
   <div class="apple_pagination">
    <%= will_paginate @posts, :container => false %>
  </div>
    <!--Card -->
    <% @posts.each do |post| %>
      <div class="card" style="margin: 20px;border: 5px solid blue;" >
        <div class="card-body">
          <h5 class="card-title"><i class="fa-solid fa-user"></i> <%= post.user.name %></h5>
          <h5 class="card-subtitle mb-2  "><%= post.title %></h5>

          <%= render "posts/modal", post: post %>
        </div>
      </div>
  <% end %>
  <div class="apple_pagination">
    <%= will_paginate @posts, :container => false %>
  </div>
  </div><!-- main-content -->

</div><!-- row -->
</div><!-- container -->
